<h2 class="page-header">
    {{{user.name}}} <h3><span class="pull-right">You have Admin rights!</span></h3>
    <br>
    <small>
        @{{{user.username}}}
        <br>
    </small>
</h2>
<p>Welcome to your dashboard</p>