


<div class="table-responsive">
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Date</td>
            <td>Place</td>
            {{#if user.balance}}<td>Balance</td>{{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each user.history as |item itemIndex|}}

            <tr>
                <td>{{item.date}}</td>
                <td>{{item.place}}</td>

                {{#compare itemIndex 0 operator="==="}}
                    <td>{{../user.balance}}</td>
                {{/compare}}
                {{#compare itemIndex 0 operator=">"}}
                    <td>{{math ../user.balance "+=" item.diff itemIndex}}</td>
                {{/compare}}

            </tr>
        {{/each}}
    </tbody>
</table>
</div>